<html class="html">

<div class="body">
    <img src="${cabecalho}" alt="cabecalho" />
    <div class="main">
        <h1 class="h1">Relatorio De produtos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th class="th">#</th>
                    <th class="th">Nome</th>
                    <th class="th">Descricao</th>
                    <th class="th">Tamanho</th>
                    <th class="th">Preco</th>
                </tr>
            </thead>
            <tbody>
                #foreach($produto in $produtos)
                <tr>
                    <td class="td" style="text-align: center;">$produto.idProduto</td>
                    <td class="td">$produto.nome</td>
                    <td class="td">$produto.descricao</td>
                    <td class="td" style="text-align: center;">$produto.tamanho</td>
                    <td class="td" style="text-align: center;">$produto.preco</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <img src="${rodape}" class="rodape" alt="rodape" />
</div>

</html>