<html style="width: 100%; background-color: orange; border-style: solid; border-width: 100px; border-color: blue;">

<head>
    <style>
        table {
            width: 100%;
            height: 100%;
        }

        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body >
    <main>
        <h1>Relatorio De produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Tamanho</th>
                    <th>Preco
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Garrafa</td>
                    <td>Serve para guardar agua</td>
                    <td style="text-align: center;">M</td>
                    <td style="text-align: center;">15.10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lixo</td>
                    <td>Lixo</td>
                    <td style="text-align: center;">GG</td>
                    <td style="text-align: center;">0.00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Batata</td>
                    <td>Comida que vem com paz</td>
                    <td style="text-align: center;">P</td>
                    <td style="text-align: center;">10.00</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>